.page-header {
  position: relative;
  z-index: 1;
  background-color: #65A93C;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.page-header--catalog {
  background: none;
}

.page-header__top {
  background-color: #fff;
  margin-bottom: 50px;
}

.page-header__top--catalog {
  margin-bottom: 0;
  background: none;
  border-bottom: 1px solid;
}
.page-header__menu-wrap {
  position: relative;
  @include container();
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

// увеличил приоритет из-за того, что promo.scss обнуляет марджины
header .page-header__promo {
  margin-bottom: 160px;
}

.page-header__bottom {
  position: relative;
  bottom: 0;
  height: 195px;
  width: 100%;
  background-color: #fff;
  z-index: 10;

    &::after {
    content: "";
    position: absolute;
    bottom: 43px;
    left: 0;
    z-index: 11;
    width: 280px;
    height: 280px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    }
}

