.additions {
  @include container();
}

.additions__title {
  margin: 0;
  padding: 0;
  padding: 20px 0;
  border-bottom: 1px solid;
}

.additions__product {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray;
}

.additions__name {
  margin: 0;
}

@media (min-width: $screen-md) {

  .additions__title {
    font-size: $font-xl;
    line-height: 1em;
    color: $dark-gray;
    margin-bottom: 40px;
    padding-bottom: 60px;
  }

  .additions__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .additions__product-wrap {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }

  .additions__btn {
    width: 100%;
    margin-top: 30px;
  }
}
