.additions {
  @include container();
}

.additions__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 30px 0;
  border-bottom: 1px solid;
  font-size: $font-lg;
  line-height: 1em;

  &::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 265px;
    width: 100%;
    height: 3px;
    background-color: $main-color;
  }
}

.additions__product {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray;
}

  .additions__product-wrap {
    display: flex;
    justify-content: space-between;
  }

.additions__name {
  margin: 0;
}

@media (min-width: $screen-md) {

  .additions__title {
    font-size: $font-xl;
    line-height: 1em;
    color: $dark-gray;
    margin-bottom: 40px;
    padding-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      top: 52px;
      left: -380px;
      width: 50%;
      height: 3px;
      background-color: $main-color;
    }

    &::after {
      top: 52px;
      left: 387px;
    }
  }

  .additions__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .additions__product-wrap {
    min-width: 288px;
    justify-content: space-between;
  }

  .additions__quantity {
    width: 192px;
    padding: 0 10px;
    text-align: right;
  }

  .additions__price {
    min-width: 35px;
  }

  .additions__btn {
    width: 100%;
    margin-top: 30px;
  }
}

@media (min-width: $screen-lg) {

  .additions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additions__title {
    width: 100%;
  }

  .additions__product {
    width: 845px;
  }

  .additions__btn {
    width: 245px;
    margin: 0;
  }
}
