.additions {
  // @include container();
}

.additions__title {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  padding: 22px 0 36px 0;
  font-size: $font-lg;
  line-height: 1em;
  color: $dark-gray;
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: $main-color;
  }
}

.additions__title-inner {
  @include container();
}

.additions__title-box {
  padding: 0 10px 0 0;
  background-color: #ffffff;
}

.additions__container {
  @include container();
}

.additions__products-wrapper {
  margin-bottom: 40px;
}

.additions__product {
  padding: 11px 0 19px 0;
  border-bottom: 1px solid #000;

  &:first-child {
    border-top: 1px solid #000;
  }
}

.additions__product-wrap {
  display: flex;
  justify-content: space-between;
  font-size: $font-base;
  line-height: 1em;
  margin-bottom: 15px;
}

.additions__name {
  font-size: $font-sm;
  line-height: 1em;
  color: $light-gray;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: $screen-md) {

  .additions__products-wrapper {
    margin-bottom: 70px;
}

  .additions__title {
    font-size: $font-xl;
    line-height: 1em;
    color: $dark-gray;
    margin-bottom: 45px;

    &::after {
      left: 0;
      top: 46px;
    }
  }

  .additions__title-box {
    padding: 0 10px 0 38px;
  }

  .additions__product {
    border: 1px solid #000;
    padding: 27px 0 28px 0;
    margin-bottom: -1px;
  }

  .additions__inner {
    display: flex;
    width: 635px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additions__name {
    font-size: $font-md;
    width: 200px;
  }

  .additions__product-wrap {
    min-width: 288px;
    justify-content: space-between;
    font-size: $font-sm;
    line-height: $height-md;
  }

  .additions__quantity {
    width: 192px;
    padding: 0 10px;
    text-align: right;
  }

  .additions__price {
    min-width: 35px;
  }

  .additions__btn {
    width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: $screen-lg) {

  .additions {
    width: auto;
    margin-bottom: 84px;
  }

  .additions__title {
    margin: 0;
    margin-bottom: 42px;

    &::after {
      left: 80%;
      top: 44px;
      transform: translateX(-50%);
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      transform: translateX(-644px);
      z-index: -1;
      top: 44px;
      width: 50%;
      height: 3px;
      background-color: $main-color;
    }
  }

  .additions__title-box {
    padding: 0 40px 0 0;
  }

  .additions__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additions__products-wrapper {
    margin: 0;
}

  .additions__product {
    width: auto;
    padding: 17px 0 16px 0;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
  }

  .additions__inner {
    width: 890px;
    align-items: center;
    margin: 0;
  }

  .additions__product-wrap {
    margin-bottom: 0;
    margin-left: 80px;
  }

  .additions__name {
    margin-bottom: 0;
  }

  .additions__btn {
    width: 223px;
    margin: 0;
  }

  .additions__quantity {
    text-align: left;
  }

}
