.bonus {
  padding: 100px 0;
  background-color: $main-color;
  background-image:
    url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-size: 50px, auto;
  background-repeat: no-repeat;
  background-position: center 65px, center;
  color: #ffffff;
  font-size: $font-sm;
  line-height: $height-md;
  text-align: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

  background-image:
    url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@2x.jpg");
  }
}


@media (min-width: $screen-md){

  .bonus {
    padding: 57px 0;
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-size: 50px, contain;
    background-position: center 15px, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: $screen-lg) {

  .bonus {
    width: 245px;
    padding: 110px 0;
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-size: 50px, contain;
    background-position: center 55px, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
