.contacts {
  background-color: $gray;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__inner {
  @include container();
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.contacts__invite {
  width: 50%;
  font-size: $font-sm;
  line-height: $height-md;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-gray;
}

.contacts__address {
  width: 50%;
  font-size: $font-base;
  line-height: $height-md;
  text-transform: uppercase;
  color: $dark-gray;
  text-align: right;
}
