.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.copyright__link {
  display: inline-block;
  font-size: $font-sm;
  line-height: 1em;
  color: $font-color;
  text-decoration: none;
}

.copyright__logo {
  display: block;
}

.copyright__svg {
  fill: $font-color;

  &:hover {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen-md) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    margin-right: 9px;
  }

  .copyright__svg {
    width: 40px;
  }
}
