.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.copyright__link {
  display: block;
  font-size: $font-sm;
  line-height: 1em;
  color: $font-color;
  text-decoration: none;
}

.copyright__logo {
  display: block;
}

.copyright__svg {
  fill: $font-color;
}

@media (min-width: $screen-md) {

  .copyright__svg {
    width: 40px;
  }
}
