.example {
  background-color: $gray;
  padding-bottom: 18px;
}

.example__inner {
  @include container();
}

.example__wrap {
  margin-bottom: 53px;
}

.example__title {
  margin: 0;
  padding: 16px 0;
  font-size: $font-xl;
  line-height: $height-lg;
  color: $dark-gray;
}

.example__text-wrap {
  margin-bottom: 26px;
  letter-spacing: 1px;
}

.example__text-wrap p {
  margin: 5px 0;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  list-style: none;
}

.example__item {
  position: relative;
  display: block;
  width: 125px;
  margin-right: 30px;
  padding: 15px;
  border: 1px solid;
  box-sizing: border-box;
  font-size: $font-lg;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: $dark-gray;

  &:last-child {
    margin-right: 0;
  }
}

.example__sub-text {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 0 10px;
  font-size: $font-xs;
  line-height: 1em;
  text-align: center;
  text-transform: none;
  background-color: $gray;
  color: $font-color;
}

.example__money {
  font-size: $font-base;
  line-height: $height-md;
  text-transform: uppercase;
  text-align: center;
  color: $dark-gray;
}

.example__illustration {
  text-align: center;
}

.example__img {
  margin-bottom: 20px;
}

.example__progress {
  padding: 20px 0;
}

@media (min-width: $screen-md) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid #000000;
  }

  .example__inner {
    width: auto;
  }

  .example__wrap {
    @include container();
    padding-bottom: 255px;
  }

  .example__title {
    font-size: 60px;
    line-height: 1em;
    padding: 40px 0;
    margin-bottom: 23px;
  }

  .example__text-wrap {
    font-size: $font-sm;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__list {
    display: flex;
    justify-content: space-between;
    width: 365px;
    margin-bottom: 0;
  }

  .example__item {
    width: 162px;
    padding: 17px;
    font-size: 30px;
    line-height: 37px;
    margin-right: 0;
  }

  .example__sub-text {
    top: 63px;
    padding: 0 15px;
    font-size: $font-base;
    line-height: 1em;
    background-color: #ffffff;
    white-space: nowrap;
  }

  .example__sub-text br {
    display: none;
  }

  .example__illustration {
    padding: 110px 0 50px 0;
    background-color: $gray;
    text-align: center;
  }

  .example__img {
    width: 690px;
    margin-top: -280px;
    margin-bottom: 0;
  }

  .example__money {
    width: 185px;
    text-align: right;
    font-size: $font-md;
    line-height: 1em;
  }

  .example__money span {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: $screen-lg) {
  .example {
    padding: 30px;
    background-color: $gray;
    border-top: none;
  }

  .example__inner {
    @include container();
    display: flex;
  }

  .example__wrap {
    width: 545px;
    margin: 0;
    margin-right: 130px;
    padding-bottom: 0;
  }

  .example__title {
    margin-top: -205px;
    margin-bottom: 106px;
  }

  .example__text-wrap {
    margin-bottom: 71px;
  }

  .example__result {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__money {
    width: auto;
    text-align: left;
  }

  .example__money span {
    display: inline-block;
    margin: 0;
    margin-left: 65px;
  }

  .example__list {
    margin-bottom: 60px;
  }

  .example__illustration {
    padding-bottom: 23px;
  }

  .example__img {
    width: 800px;
    margin-top: -302px;
    margin-bottom: 22px;
    background-color: transparent;
  }

  .example__sub-text {
    background-color: $gray;
  }
}
