.example {
  background-color: $gray;
}

.example__inner {
  @include container();
}

.example__title {
  margin: 0;
  padding: 18px 0;
  font-size: $font-xl;
  line-height: $height-lg;
  color: $dark-gray;
}

.example__text-wrap {
  margin-bottom: 30px;
}

.example__text-wrap p {
  margin: 5px 0;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}

.example__item {
  position: relative;
  display: block;
  width: 125px;
  margin-right: 30px;
  padding: 15px;
  border: 1px solid;
  box-sizing: border-box;
  font-size: $font-lg;
  line-height: 1em;
  text-align: center;
  color: $dark-gray;

  &:last-child {
    margin-right: 0;
  }
}

.example__sub-text {
  position: absolute;
  top: 43px;
  left: 30px;
  display: block;
  padding: 0 10px;
  font-size: $font-xs;
  line-height: 1em;
  text-align: center;
  background-color: $gray;
  color: $font-color;
}

.example__money {
  font-size: $font-base;
  line-height: $height-md;
  text-transform: uppercase;
  text-align: center;
  color: $dark-gray;
}

.example__img {
  margin-bottom: 20px;
}

.example__progress {
  padding: 20px 0;
}

@media (min-width: $screen-md) {

  .example {
    background-color: #ffffff;
    border-top: 1px solid #000;
  }

  .example__inner {
    width: auto;
  }

  .example__title {
    font-size: 60px;
    line-height: 1em;
  }

  .example__wrap {
    @include container();
    padding-bottom: 100px;
  }

  .example__result {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    display: flex;
    width: 354px;
  }

  .example__item {
    font-size: 30px;
    line-height: 37px;
  }

  .example__sub-text {
    top: 54px;
    left: 25px;
    font-size: $font-base;
    line-height: 1em;
    background-color: #ffffff;
  }

  .example__illustration {
    padding: 110px 0 50px 0;
    background-color: $gray;
    text-align: center;
  }

  .example__img  {
    width: 500px;
    margin-top: -175px;
  }

  .example__money {
    width: 185px;
    text-align: right;
    font-size: $font-md;
    line-height: 1em;
  }

  .example__money span {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: $screen-lg) {

  .example {
    padding: 30px;
    background-color: $gray;
  }

  .example__inner {
    @include container();
    display: flex;
  }

  .example__wrap {
    width: 500px;
  }

  .example__result {
    flex-direction: column;
  }

  .example__money {
    width: auto;
    text-align: left;
  }

  .example__money span {
    display: inline-block;
    margin: 0;
    margin-left: 65px;
  }

  .example__img {
    width: 590px;
    margin-top: -312px;
    background-color: transparent;
  }
}
