.features {
  @include container();
}

.features__title {
  font-size: $font-xl;
  line-height: $height-lg;
  color: $dark-gray;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-left: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: $main-color;
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $screen-md) {

  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .features__item {
    padding: 120px 0;
    width: 45%;

    &::before {
      left: 0;
      top: 20px;
      width: 100px;
      height: 100px;
      background-color: $main-color;
      background-image: url("../img/advantage-clock@1x.png");
      background-position: center;
      background-repeat: no-repeat;
  }
  }

  .features__text {
    width: 225px;
    font-size: $font-sm;
    line-height: 24px;
    color: $font-color;
  }
}

@media (min-width: $screen-lg) {
    .features__item {
      width: 245px;
    }
}
