.features {
  @include container();
}

.features__title {
  font-size: $font-xl;
  line-height: $height-lg;
  color: $dark-gray;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-left: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: $main-color;
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}
