.features {
  @include container();
  margin-bottom: 50px;
}

.features__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: $font-xl;
  line-height: $height-lg;
  color: $dark-gray;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-left: 80px;
  margin-bottom: 27px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $main-color;
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: contain;
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--substitute::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--fast::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $screen-md) {
  .features {
    margin-bottom: 0;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .features__item {
    padding: 115px 0 90px 0;
    margin: 0;
    margin-bottom: 8px;
    width: 45%;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      left: 0;
      top: 20px;
      width: 80px;
      height: 80px;
      background-color: $main-color;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      content: "1";
      position: absolute;
      left: 115px;
      top: -20px;
      width: 100px;
      height: 100px;
      font-size: 280px;
      line-height: 1em;
      color: $gray;
      z-index: -1;
    }

    &--powder::after {
      content: "2";
    }

    &--substitute::after {
      content: "3";
    }

    &--fast::after {
      content: "4";
    }
  }

  .features__title {
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 53px;
  }

  .features__text {
    width: 225px;
    font-size: $font-sm;
    line-height: 24px;
    color: $font-color;
  }
}

@media (min-width: $screen-lg) {
  .features {
    padding-bottom: 148px;
  }

  .features__item {
    width: 245px;
  }
}
