.field-checkbox {
  box-sizing: border-box;
}

.field-checkbox:active {
  opacity: 0.3;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__input + .field-checkbox__label {
  position: relative;
  display: block;
  padding-left: 60px;
  padding: 10px;
  padding-left: 60px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.field-checkbox__input + .field-checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.field-checkbox__input:checked + .field-checkbox__label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 13px;
  width: 14px;
  height: 14px;
  background-color: $main-color;
}

@media (min-width: $screen-md) {

  .field-checkbox {
    width: 48%;
    padding: 5px;
    margin-bottom: 10px;
  }
}

@media (min-width: $screen-lg) {

  .field-checkbox {
    width: 245px;
    margin-right: 80px;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
