.field-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;

  &--contacts {
    position: relative;
  }
}

.field-text__svg {
  position: absolute;
  right: 13px;
  top: 13px;
}

.field-text__label {
  margin-right: 17px;
  flex-shrink: 0;
  text-transform: uppercase;
}


.field-text__input {
  padding: 12px;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: $font-sm;
  line-height: $height-base;
  color: $font-color;
  text-transform: uppercase;
  border: 1px solid #d0d0d0;

  &:hover {
    border: 1px solid #bfbfbf;
  }

  &:focus {
    border: 1px solid #000000;
  }

  &:invalid {
    border: 1px solid #ff8282;
  }

  &--contacts {
    padding-right: 20px;
  }
}

// стили для состояния ERROR

// .field-text--error .field-text__input {
//     border: 1px solid #ff8282;
// }

// .field-text--error .field-text__svg {
//   fill: #ff8282;
// }

.field-text__input:focus + .field-text__svg {
  fill: $main-color;
}

@media (min-width: $screen-md) {
  .field-text {
    margin-bottom: 20px;
  }

  .field-text__input {
    flex-grow: 1;
    font-size: $font-md;
    line-height: 1em;
    padding: 10px 15px;
  }

  .field-text__label {
    margin-right: 20px;
  }
}

@media (min-width: $screen-lg) {
  .field-text {
    width: 570px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
