.form {
  font-size: $font-sm;
  line-height: $height-base;
  color: $light-gray;
  text-transform: uppercase;
}

.form__description {
  @include container();
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 28px;
  font-size: $font-base;
  line-height: $height-base;
}

.form__data {
  padding: 10px;

  &--text {
    @include container();
  }

  &--radio {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 13px 0;
    margin-bottom: 22px;
  }
}

.form__data-wrap {
  @include container();
}

.form__contacts {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.form__contacts-wrap {
  @include container();
}

.form__subtitle {
  position: relative;
  z-index: -1;
  width: 100%;
  font-size: $font-lg;
  line-height: 1em;
  text-transform: none;
  overflow-x: hidden;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: $main-color;
    transform: translateX(-140px);
  }
}

.form__subtitle-wrap {
  @include container();
  display: block;
  margin-bottom: 37px;
}

.form__subtitle-box {
  padding: 0;
  padding-right: 10px;
  background-color: #ffffff;

  &--block {
    display: inline-block;
    width: 72%;
  }
}

.form__comment {
  margin-bottom: 25px;
}

.form__field {
  @include container();
}

.form__textarea {
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: $font-sm;
  line-height: $height-base;
  color: $font-color;
  text-transform: uppercase;
  box-sizing: border-box;
}

.form__additions {
  margin-bottom: 20px;
}

.form__additions-wrap {
  @include container();
}

.form__submit {
  @include container();
  text-align: center;
}

.form__submit-btn {
  width: 100%;
  border: none;
  font-size: $font-sm;
  line-height: $height-md;
  margin-bottom: 22px;
}

.form__submit-tip {
  display: block;
  font-size: $font-base;
  line-height: 16px;
  color: $font-color;
  margin-bottom: 33px;
  text-transform: none;
}

@media (min-width: $screen-md) {
  .form__data,
  .form__textarea,
  .form__contacts,
  .form__additions,
  .form__comment {
    padding: 0;
  }

  .form {
    margin: 0 auto;
    font-size: $font-md;
    line-height: 1em;
  }

  .form__data {
    padding: 10px 0;

    &--text {
      width: auto;
      margin: 0;
      padding: 0;
      margin-bottom: 53px;
    }

    &--radio {
      width: 100%;
      padding: 20px;
      border: 1px solid #cdcdcd;
      box-sizing: border-box;
      margin-bottom: 0;
    }
  }

  .form__data-wrap {
    width: auto;
    margin: 0;
  }

  .form__subtitle {
    font-size: $font-xl;
    line-height: 1em;

    &::after {
      left: 0;
      top: 23px;
      transform: translate(0, 0);
    }
  }

  .form__subtitle-wrap {
    margin-bottom: 78px;
  }

  .form__subtitle-box {
    padding: 0 40px;
  }

  .form__subtitle-box--block {
    width: 554px;
  }

  .form__contacts {
    width: auto;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .form__contacts-wrap {
    width: 630px;
    margin: 0 auto;
  }

  .form__field {
    width: 630px;
    margin: 0 auto;
  }

  .form__textarea {
    width: 100%;
    padding: 5px 20px;
    font-size: $font-md;
    line-height: 30px;
    height: 170px;
    border: 1px solid #cdcdcd;
  }

  .form__comment {
    margin-bottom: 65px;
  }

  .form__description {
    width: 630px;
    margin: 0 auto;
    font-size: $font-md;
    line-height: 30px;
    margin-bottom: 65px;
  }

  .form__description p {
    width: 350px;
  }

  .form__additions-wrap {
    width: 630px;
    margin: 0 auto;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .form__additions .form__subtitle-wrap {
    margin-bottom: 54px;
  }

  .form__submit {
    width: 630px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px;
  }

  .form__submit-btn {
    width: 280px;
    padding: 15px 10px;
  }

  .form__submit-tip {
    display: block;
    width: 45%;
    font-size: $font-sm;
    line-height: 16px;
    text-align: left;
  }

  .form__data-container {
    width: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
  }
}

@media (min-width: $screen-lg) {
  .form__data-container {
    @include container();
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 63px;
  }

  .form__description {
    @include container();
    margin-bottom: 65px;
  }

  .form__data {
    width: 570px;

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 200px;
      margin-bottom: 0;
    }
  }

  .form__contacts-wrap {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  .form__field {
    @include container();
  }

  .form__additions {
    margin-bottom: 30px;
  }

  .form__additions-wrap {
    @include container();
    justify-content: flex-start;
  }

  .form__additions .form__subtitle-wrap {
    margin-bottom: 62px;
  }

  .form__submit {
    @include container();
    margin-bottom: 62px;
  }

  .form__submit-btn {
    width: 570px;
  }

  .form__submit-tip {
    width: 46%;
  }

  .form__subtitle {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 23px;
      left: -53%;
      width: 100%;
      height: 3px;
      background-color: $main-color;
      transform: translateX(-610px);
    }

    &::after {
      left: 20%;
    }
  }

  .form__subtitle-box {
    padding: 0;
    padding-right: 40px;
  }
}
