.goods__title {
  margin: 0;
  padding: 16px 0 26px 0;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: $dark-gray;
}

.goods__wrap {
  display: flex;
  flex-direction: column;
}

.goods__title-wrap {
  border-bottom: 1px solid #000000;
}

@media (min-width: $screen-md) {
  .goods__title {
    font-size: $height-lg;
    line-height: 1em;
    text-align: left;
  }

  .goods__title-wrap {
    @include container();
    margin-bottom: 0;
    border: none;
  }

  .goods__wrap {
    @include container();
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 42px;
  }
}

@media (min-width: $screen-lg) {
  .goods__wrap {
    justify-content: flex-start;
    margin-bottom: 52px;
  }
}
