.logo--footer {
  text-align: center;
}

.logo__link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $screen-md) {

  .logo__img {

    &--header {
      width: 175px;
    }

    &--footer {
      width: 134px;
    }
  }
}

@media (min-width: $screen-lg) {

  .logo__img {

    &--header {
      width: 205px;
    }
  }

  .logo--footer .logo__link img {
    width: 130px;
  }
}

