@media (min-width: $screen-lg) {
  .main-nav--index {
    width: 680px;
    height: 100%;
    background-color: #65a93c;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
