.map {
  width: 100%;
  position: relative;
  min-height: 360px;
  background-color: #fdf7f0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $screen-md) {

  .map {
    background-image: url("../img/bg-map-tablet@1x.png");
    min-height: 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    &::after {
      width: 122px;
      height: 105px;
    }
  }
}

@media (min-width: $screen-lg) {

  .map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    &::after {
      width: 100px;
      height: 100px;
      left: 76%;
      top: 50%;
    }
  }
}
