.map {
  width: 100%;
  position: relative;
  min-height: 360px;
  background-color: #fdf7f0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@1x.png");
  }

  &::after {
    content: "";
    position: absolute;
    left: 40%;
    top: 45%;
    height: 53px;
    width: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $screen-md) {

  .map {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    &::after {
      left: 48%;
      top: 54%;
    }
  }
}

@media (min-width: $screen-lg) {

  .map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    &::after {
      left: 44%;
      top: 41%;
    }
  }
}
