.menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__link {
  display: block;
  padding: 22px 0;
  font-size: $font-md;
  line-height: $height-md;
  color: $dark-gray;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid;
}

.menu__link[href] {

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: $font-active-dark;
    }
}

@media (min-width: $screen-md) {
  .menu {
    width: 516px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  .menu__item {
    margin-left: 23px;

  }

  .menu__item--active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: $main-color;
    }
  }

  .menu__link {
    padding: 10px 0;
    font-size: 18px;
    line-height: 24px;
    color: $light-gray;
    border: none;
  }
}

@media (min-width: $screen-lg) {

  .menu__item {
    margin-left: 30px;
    letter-spacing: 0.8px;

    &:first-child {
      margin-left: 0;
    }
  }

  .page-header--index .menu {
    flex-wrap: wrap;
    margin-left:  95px;
    padding: 63px 0;
  }

  .page-header--index .menu__item--active::before {
    background-color: #ffffff;
  }

  .page-header--index .menu__link {
    color: #ffffff;
  }

  .page-header--index .menu__link[href] {

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: $font-active-light;
    }
  }
}
