.page-header {
  position: relative;
  z-index: 1;
}

.page-header__top {
  background-color: #ffffff;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.page-header__wrap-top {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  font-size: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__main {
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  padding-bottom: 40px;
  margin-bottom: 240px;

  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    z-index: 11;
    width: 100%;
    height: 280px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page-header__promo {
  padding: 35px 0;
}


@media (min-width: $screen-md) {

  .page-header__inner {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  .page-header__top {
    border: none;
  }

  .page-header__wrap-top {
    width: auto;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__main {
    background-image: none;
    background-color: #ffffff;
    margin-bottom: 325px;

    &::after {
      bottom: -425px;
      height: 650px;
      background-size: 520px;
    }
  }
}

@media (min-width: $screen-lg) {

  .page-header--index {
    margin-bottom: 50px;
  }

  .page-header--index .page-header__inner{
    width: auto;
    height: 700px;
  }

   .page-header__top {
    width: 650px;
  }

  .page-header__top-container {
    width: 470px;
    margin: 0 auto;
  }

  .page-header__main {
    position: absolute;
    top: 100px;
    left: 85px;
    background-color: transparent;
  }

    .page-header__main::after {
    bottom: -300px;
    background-size: 400px;
    }
}
