.page-header {
  position: relative;
  z-index: 1;
}

.page-header__top {
  background-color: #ffffff;
  border-bottom: 1px solid #cdcdcd;
  padding: 11px 0;
}

.page-header__wrap-top {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  font-size: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__main {
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  padding-bottom: 40px;
  margin-bottom: 196px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -137px;
    z-index: 11;
    width: 100%;
    height: 280px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 282px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
    }
  }
}

.page-header__promo {
  padding: 28px 0 56px 0;
}


@media (min-width: $screen-md) {
  .page-header {
    margin-bottom: 15px;
  }

  .page-header__top {
    padding: 0;
    height: 100%;
    border: none;
  }

  .page-header__inner {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
  }

  .page-header__wrap-top {
    width: auto;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__promo {
    padding: 33px 0 56px 0;
  }

  .page-header__main {
    width: 616px;
    margin: 0 auto;
    background-image: none;
    background-color: #ffffff;
    margin-bottom: 450px;

    &::after {
      width: 709px;
      bottom: -453px;
      left: 13%;
      height: 609px;
      background-image: url("../img/index-can-tablet@1x.jpg");
      background-size: contain;
      background-position: left;
      transform: translateX(-79px);

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .page-header {
    margin-bottom: 0;
  }

  .page-header__inner {
    padding: 53px 0;
  }

  .page-header--index {
    position: relative;
    margin-bottom: 74px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #65a93c;
    }
  }

  .page-header--index .page-header__inner {
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 700px;
    padding: 0;
  }

  .page-header__top {
    width: 642px;
    flex-shrink: 0;
  }

  .page-header__top-container {
    width: 540px;
    padding: 54px 0;
    margin-left: 30px;
  }

  .page-header__main {
    position: absolute;
    top: 188px;
    left: 56%;
    background-color: transparent;
    margin-bottom: 0;
    transform: translateX(-616px);

    &::after {
      height: 555px;
      bottom: -88px;
      left: 74%;
      background-image: url("../img/index-can-desktop@1x.png");
      background-size: 555px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
      }
    }
  }
}
