.product {
  // padding: 5px 0 24px 0;
  border-bottom: 1px solid #000;
  min-height: 209px;
}

.product--more {
  position: relative;
  text-align: center;
  padding-top: 75px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position:  center;
  }
}

.product__inner {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.product__title {
  width: 80px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.product__table {
  width: 100%;
  border-collapse: collapse;
  font-size: $font-xs;
  line-height: 16px;
}

.product__table tbody td:nth-child(2n) {
    text-align: right;
  }

.product__btn {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.product__image {
  display: block;
  margin-bottom: 15px;
}

.product__descr {
  width: 140px;
  padding: 5px;
  padding-bottom: 10px;
}

.product__img-wrap {
  display: block;
  width: 140px;
}

.product__link {
  font-size: $font-sm;
  line-height: $height-md;
  color: $dark-gray;
  text-transform: uppercase;
  text-decoration: none;
}

.product__more-link {
  display: block;
  margin-bottom: 8px;
  font-size: $font-sm;
  line-height: $height-md;
  color: $dark-gray;
  text-transform: uppercase;
  text-decoration: none;
}

.product__more-text {
  font-size: $font-xs;
  line-height: 16px;
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: $screen-md) {

  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $gray;
    width: 324px;
    padding: 154px 0 40px 0;
    margin-top: 145px;
    border-bottom: none;

    &--more {
      background-color: #ffffff;
      border: 1px solid;

      &::after {
        top: 51px;
        height: 56px;
      }
    }
  }

  .product__inner {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 25px;
  }

.product__img-wrap {
  position: absolute;
  top: -50px;
  width: 320px;

  &--lg {
    top: -84px;
  }
}
  .product__title {
    width: 145px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
  }

  .product__link {
    font-size: $font-md;
    line-height: 1em;

  }

.product__descr {
  width: 250px;
}

.product__table {
  font-size: $font-sm;
  line-height: 1em;
}

.product__table tr {
  border-bottom: 1px solid #000;
}

.product__table td {
  padding: 8px 0;
}

  .product__more-link {
    display: block;
    width: 135px;
    margin: 0 auto;
    margin-top: 0;
    font-size: $font-md;
    line-height: 1em;
  }

  .product__more-text {
    display: block;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: $font-sm;
    line-height: 1em;
    color: $font-color;
  }

    .product__btn {
      width: 250px;
    }

}

@media (min-width: $screen-lg) {

  .product {
    width: 245px;
    padding: 157px 0 40px 0;
    margin-right: 80px;

    &:nth-child(4) {
      margin-right: 0;
    }
  }

  .product__img-wrap  {
    width: 245px;
  }

  .product--more {
    margin-right: 0;
    margin-bottom: 0;
  }

  .product__descr {
    width: 170px;
}


  .product__inner {
    width: 170px;
  }

  .product__btn {
    width: 175px;
  }
}
