.product {
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.product--more {
  position: relative;
  text-align: center;
  padding-top: 90px;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 45%;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-plus-mobile.svg");
  }
}

.product__inner {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__descr {
  width: 140px;
}

.product__title {
  margin: 0;
  margin-bottom: 10px;
}

.product__table {
  width: 100%;
}

.product__btn {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.product__image {
  display: block;
  margin-bottom: 15px;
}

.product__descr {
  padding: 5px;
  padding-bottom: 10px;
}

.product_img-wrap {
  display: block;
}

.product__link {
  font-size: $font-sm;
  line-height: $height-md;
  color: $dark-gray;
  text-transform: uppercase;
  text-decoration: none;
}

.product__more-link {
  font-size: $font-sm;
  line-height: $height-md;
  color: $dark-gray;
  text-transform: uppercase;
  text-decoration: none;
}

.product__more-text {
  font-size: $font-xs;
  line-height: 16px;
}

@media (min-width: $screen-md) {

  .product {

    background-color: $gray;
    width: 324px;
    padding: 30px 0;
    margin-bottom: 15px;
    border-bottom: none;
  }

  .product__inner {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}
