.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__container {
  width: 80px;
  height: 12px;
  margin: 0 20px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #000000;
  box-sizing: border-box;
}

.progress__bar {
  width: 51%;
  height: 100%;
  background-color: $main-color;
  border-radius: 10px;
}

.progress__text-wrap {
  font-size: $font-sm;
  line-height: $height-md;
  text-transform: uppercase;
}

@media (min-width: $screen-md) {
  .progress__container {
    position: relative;
    width: 428px;
    height: 7px;
    border: none;
    background-color: #dcdcdc;
    box-shadow: none;
  }

  .progress__bar {
    width: 7px;
    height: 7px;
    border: 13px solid #ffffff;
    box-shadow: 0 0 3px 1px #dcdcdc;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 200px;

    &:hover {
      box-shadow: 0 3px 5px 1px #dcdcdc;
    }

    &:active {
      box-shadow: 0 0 0 2px $main-color, 0 3px 5px 1px #dcdcdc;
    }
  }

  .progress__text-wrap {
    border-bottom: 1px dotted $light-gray;
    font-size: $font-md;
    line-height: 1em;
  }
}

@media (min-width: $screen-lg) {
  .progress {
    width: 570px;
    margin-left: 77px;
  }
}
