.promo {
  @include container();
  color: #ffffff;
  text-align: center;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 27px;
  color: #ffffff;
  font-weight: normal;
}

.promo__lead-text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.promo__btn {
  position: relative;
  bottom:-260px;
}

@media (min-width: $screen-md) {

  .promo {
    text-align: left;
    color: $dark-gray;
  }

  .promo__title {
    width: 427px;
    font-size: 60px;
    line-height: 1em;
    color: $dark-gray;
  }

  .promo__lead-text {
    font-size: $font-md;
    line-height: 1em;
  }

  .promo__btn {
    width: 246px;
    position: relative;
    bottom:-10px;
    z-index: 12;
  }
}
