.promo {
  @include container();
  color: #ffffff;
  text-align: center;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 27px;
  color: #ffffff;
  font-weight: normal;
}

.promo__lead-text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.promo__btn {
  position: relative;
  bottom: -270px;
}

@media (min-width: $screen-md) {
  .promo {
    width: 427px;
    margin: 0;
    margin-left: 44px;
    text-align: left;
    color: $dark-gray;
  }

  .promo__title {
    width: 427px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 1em;
    color: $dark-gray;
  }

  .promo__lead-text {
    font-size: $font-md;
    line-height: 1em;
  }

  .promo__btn {
    width: 225px;
    position: relative;
    bottom: -18px;
    z-index: 12;
    font-size: $font-md;
    line-height: 1em;
    padding: 16px 10px;
  }
}

@media (min-width: $screen-lg) {
  .promo {
    margin-left: 10px;
  }

  .promo__btn {
    bottom: -23px;
  }
}
