.shape {
  margin-bottom: 20px;
}

  .shape__card {
  @include container();
  background-color: $gray;
  padding: 30px 20px 0 20px;
  margin-bottom: 20px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 5px;
  }
}

.shape__title {
  position: relative;
  font-size: 24px;
  line-height: 40px;
  padding-left: 70px;
  margin: 0;
  color: $dark-gray;

  &::before {
    content: "";
    position: absolute;
    right: 185px;
    top: -4px;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    right: 180px;
    top: -5px;
    width: 47px;
    height: 47px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.shape__title--weight-gain::after {
  background-image: url("../img/icon-cat-pro.svg");
  right: 180px;
  top: 6px;
  width: 65px;
  height: 65px;
}

.shape__descr {
  margin: 25px 0;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.shape__link {
  position: relative;
  display: block;
  border-top: 1px solid $dark-gray;
  padding: 19px 0;
  font-size: 16px;
  line-height: 16px;
  color: $dark-gray;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 97px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $screen-md) {

  .shape {
    margin-bottom: 55px;
  }

  .shape__card {
    padding: 50px 50px 0 50px;
  }

  .shape__title {
    font-size: $font-xl;
    line-height: 1em;
    padding: 0;
    margin-top: 27px;

    &::before {
      right: 13px;
      top: 15px;
      width: 200px;
      height: 200px;
    }

    &::after {
      right: 15px;
      top: 0;
      width: 145px;
      height: 145px;
    }
  }

  .shape__title--weight-gain::after {
      right: 0;
      top: 35px;
      width: 200px;
      height: 200px;
}

  .shape__descr {
    width: 385px;
    font-size: $font-sm;
    line-height: 24px;
  }

  .shape__link {
    padding: 35px 0 65px 0;
    border: none;
    font-size: $font-md;
    line-height: 1em;

    &::after {
      top: 31px;
      left: 130px;
    }
  }
}

@media (min-width: $screen-lg) {

  .shape {
    @include container();
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .shape__card {
    width: 570px;
    box-sizing: border-box;
    margin-bottom: 0;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

    .shape__title {
    font-size: $font-xl;
    line-height: 1em;
    padding-left: 100px;

    &::before {
      left: 15px;
      top: -12px;
      width: 60px;
      height: 60px;
    }

    &::after {
      left: 26px;
      top: -18px;
      width: 60px;
      height: 60px;
    }
  }

    .shape__title--weight-gain::after {
      left: 5px;
      top: 5px;
      width: 75px;
      height: 75px;
  }
}
