.shape__card {
  @include container();
  background-color: $gray;
  padding: 25px;
  margin-bottom: 20px;
}

.shape__title {
  position: relative;
  font-size: 24px;
  line-height: 40px;
  padding-left: 70px;
  color: $dark-gray;

  &::before {
    content: "";
    position: absolute;
    right: 230px;
    top: -4px;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    right: 230px;
    top: -5px;
    width: 47px;
    height: 47px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.shape__title--weight-gain::after {
  background-image: url("../img/icon-cat-pro.svg");
  right: 225px;
  top: 6px;
  width: 65px;
  height: 65px;
}

.shape__link {
  display: block;
  border-top: 1px solid $dark-gray;
  padding: 10px 0;
  font-size: 16px;
  line-height: 16px;
  color: $dark-gray;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $screen-md) {

  .shape__title {
    font-size: $font-xl;
    line-height: 1em;
    padding: 0;

    &::before {
      right: 15px;
      top: 0;
      width: 150px;
      height: 150px;
    }

    &::after {
      right: 15px;
      top: 0;
      width: 145px;
      height: 145px;
    }
  }

  .shape__title--weight-gain::after {
      right: 0;
      top: 35px;
      width: 200px;
      height: 200px;
}

  .shape__descr {
    width: 385px;
  }

  .shape__link {
    border: none;
  }
}

@media (min-width: $screen-lg) {

  .shape {
    display: flex;
  }

  .shape__card {
    width: 570px;
    box-sizing: border-box;
  }

    .shape__title {
    font-size: $font-xl;
    line-height: 1em;
    padding-left: 100px;

    &::before {
      left: 15px;
      top: -12px;
      width: 60px;
      height: 60px;
    }

    &::after {
      left: 26px;
      top: -18px;
      width: 60px;
      height: 60px;
    }
  }

    .shape__title--weight-gain::after {
      left: 5px;
      top: 5px;
      width: 75px;
      height: 75px;
  }
}
