.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 20px 0 7px 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.socials__link {
  display: block;
  text-align: center;
  font-size: 0;
}

.socials__item {
  margin: 0 17px;
}

.socials__svg {
  fill: $font-color;

  &:hover {
    fill: $main-color;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: $screen-md) {
  .socials {
    display: flex;
  }

  .socials__list {
    padding: 0;
    border: none;
    align-items: center;
  }

  .socials__item {
    margin: 0 11px;
  }

  .socials__svg {

    width: 28px;
    height: 28px;

    &--inst {
      width: 22px;
      height: 22px;
    }

    &--fb {
      width: 26px;
      height: 26px;
    }
  }
}
