.additions {
  @include container();
}

.additions__wrap {

}
.additions__title {
  margin: 0;
  padding: 0;
  padding: 20px 0;
  border-bottom: 1px solid;
}

.additions__product {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray;
}