.socials__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 25px 0;
  border-top: 1px solid $font-color;
  border-bottom: 1px solid $font-color;
}

.socials__link {
  display: block;
  height: 35px;
  width: 35px;
  font-size: 0;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;

  &--vk {
    background-image: url("../img/icon-vk-mobile.svg");
    background-size: 30px;
  }

  &--inst {
    background-image: url("../img/icon-insta-mobile.svg");
    background-size: 22px;
  }

  &--fb {
    background-image: url("../img/icon-fb-mobile.svg");
    background-size: 13px;
  }
  // &:last-child {
  //     margin: 0;
  // }
}
