.bonus {
  // min-height: 288px;
  padding: 100px 0;
  background-color: $main-color;
  background-image:
    url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-size: 50px, auto;
  background-repeat: no-repeat;
  background-position: center 65px, center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
