html {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  color: $font-color;
  padding: 0;
  margin: 0;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

label,
button,
input,
select {
  cursor: pointer;
}

fieldset {
  border: none;
}
