@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "fonts.scss";
@import "blocks/btn.scss";
@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/main-content.scss";
@import "blocks/shape.scss";
@import "blocks/features.scss";
@import "blocks/example.scss";
@import "blocks/page-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/map.scss";
@import "blocks/socials.scss";
@import "blocks/copyright.scss";
@import "blocks/goods.scss";
@import "blocks/product.scss";
@import "blocks/additions.scss";
@import "blocks/bonus.scss";
@import "blocks/form-page.scss";
@import "blocks/form.scss";
@import "blocks/field-text.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/menu.scss";
