$font-color: #444444;
$main-color: #68b738;
$gray: #f2f2f2;
$dark-gray: #111111;
$light-gray: #222222;

$font-base: 14px;
$height-base: 18px;

$font-xs: 12px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 36px;

$height-md: 20px;
$height-lg: 60px;

$screen-md: 768px;
$screen-lg: 992px;
